[DRIVER]
# Net adapter for HNS switch, must be physical
Adapter = Ethernet0

# IP address of Contrail Controller API
ControllerIP = 10.0.0.10

# Port of Contrail Controller API
ControllerPort = 8082

# URL of Agent API
AgentURL = http://127.0.0.1:9091

# Name of Transparent virtual switch.
# Special wildcard "<adapter>" will be interpretted as value of netAdapter
# parameter. For example, if netAdapter is "Ethernet0", then vswitchName will
# be equal to "Layered Ethernet0".
# You can use Get-VMSwitch PowerShell command to check how the switch is called
# on your version of OS.
VSwitchName = Layered?<adapter>


[AUTH]
# Auth method. Available values: (keystone|noauth). If keystone. [KEYSTONE] section must be filled.
AuthMethod = keystone

[KEYSTONE]
# Keystone auth url. If empty, will read from environment variable.
Os_auth_url = http://10.0.0.10:5000/v2.0/

# Contrail username. If empty, will read from environment variable.
Os_username = admin

# Tenant name. If empty, will read environment variable.
Os_tenant_name = admin

# Contrail password. If empty, will read environment variable.
Os_password = hunter2

# Keystone token. If empty, will read environment variable.
Os_token = 
