<?xml version="1.0"?>
<Wix xmlns="http://schemas.microsoft.com/wix/2006/wi">
    <Product Id="47DD6748-F596-4E97-A087-C9C386466C5F" UpgradeCode="730039F2-F0CE-46D2-90AB-746B97969FF8" Name="Contrail CNM Plugin" Version="1.0.0" Manufacturer="Juniper Networks" Language="1033">
        <Package InstallerVersion="200" Compressed="yes" Comments="Windows Installer Package" Platform="x64"/>
        <Media Id="1" Cabinet="product.cab" EmbedCab="yes"/>

        <Directory Id="TARGETDIR" Name="SourceDir">
            <Directory Id="ProgramFiles64Folder">
                <Directory Id="ManufacturerFolder" Name="Juniper Networks">
                    <Directory Id="INSTALLDIR" Name="cnm-plugin">
                        <Component Id="CnmPluginFiles" Guid="C6721F37-871E-400D-A82C-DADEDD7661DD" Win64="yes">
                            <File Id="CnmPlugin" Source="build/contrail-cnm-plugin.exe"/>
                        </Component>
                    </Directory>
                    <Component Id="DockerDriverFiles" Guid="9745A0CD-2EF6-450A-82BE-90F43FC750C5" Win64="yes">
                        <File Id="DockerDriver" Source="build/contrail-windows-docker.exe"/>
                    </Component>
                </Directory>
            </Directory>
        </Directory>

        <Feature Id="DefaultFeature" Level="1">
            <ComponentRef Id="CnmPluginFiles"/>
            <ComponentRef Id="DockerDriverFiles"/>
        </Feature>
    </Product>
</Wix>
